<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Move" value="Y"/>
    <add key="output" value="Y"/>
    <add key="CheckOverDue" value="true"/>
    <add key="DaysOverDue" value="100"/>
    <add key="CalendarPath" value="c:\SAGE300\Macros\"/>
    <add key="tor_source_path" value="c:\Files\Clients\JFC\PDA Files\TOR\"/>
    <add key="mtl_source_path" value="c:\Files\Clients\JFC\PDA Files\MTL\"/>         
    <add key="van_source_path" value="c:\Files\Clients\JFC\PDA Files\VAN\"/>
    <add key="tor_backup_path" value="c:\Temp\JFC\Backup\"/>
    <add key="mtl_backup_path" value="c:\Temp\JFC\Backup\"/>
    <add key="van_backup_path" value="c:\Temp\JFC\Backup\"/>
    <add key="tor_error_path" value="c:\Temp\JFC\Error\"/>
    <add key="mtl_error_path" value="c:\Temp\JFC\Error\"/>
    <add key="van_error_path" value="c:\Temp\JFC\Error\"/>
    <add key="tor_email_on_hold" value="sherlick@openlane.com"/>
    <add key="tor_email_on_hold_cc" value="sherlick@openlane.com"/>
    <add key="tor_email_bad_data" value="sherlick@openlane.com"/>
    <add key="tor_email_bad_data_cc" value="sherlick@openlane.com"/>
    <add key="tor_email_no_qty" value="sherlick@openlane.com"/>
    <add key="tor_email_no_qty_cc" value="sherlick@openlane.com"/>
    <add key="tor_email_shortage" value="sherlick@openlane.com"/>
    <add key="tor_email_shortage_cc" value="sherlick@openlane.com"/>
    <add key="tor_email_ar_overdue" value="sherlick@openlane.com"/>
    <add key="tor_email_ar_overdue_cc" value="sherlick@openlane.com"/>
    <add key="mtl_email_on_hold" value="sherlick@openlane.com"/>
    <add key="van_email_on_hold" value="sherlick@openlane.com"/>
    <add key="van_email_on_hold_cc" value="sherlick@openlane.com"/>
    <add key="van_email_bad_data" value="sherlick@openlane.com"/>
    <add key="van_email_bad_data_cc" value="sherlick@openlane.com"/>
    <add key="van_email_no_qty" value="sherlick@openlane.com"/>
    <add key="van_email_no_qty_cc" value="sherlick@openlane.com"/>
    <add key="van_email_shortage" value="sherlick@openlane.com"/>
    <add key="van_email_shortage_cc" value="sherlick@openlane.com"/>
    <add key="van_email_ar_overdue" value="sherlick@openlane.com"/>
    <add key="van_email_ar_overdue_cc" value="sherlick@openlane.com"/>
    <add key="cal_email_ar_overdue" value="sherlick@openlane.com"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
